html {
    background-color:aqua;
    text-align: right;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}


#buy {
    clear: both;
}

#basic {
    height: 500px;
    width: 300px;
}

#zei {
    height: 600px;
    width: 300px;
}

#math {
    height: 500px;
    width: 650px;
}
#thinking {
    height: 500px;
    width: 460px;
}